<!doctype html>
<html lang="en">
  <head><%- include("../partials/head") %></head>
  <body>
    <%- include("../partials/header") %>
    <%- include("../partials/nav") %>
    <main class="container">
      <%- body %>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
